<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GDProyEntities" connectionString="metadata=res://*/Assets.Scripts.DataBase.GameDateBasse.csdl|res://*/Assets.Scripts.DataBase.GameDateBasse.ssdl|res://*/Assets.Scripts.DataBase.GameDateBasse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlserver\sqlexpress;initial catalog=GDProy;user id=sa;password=cep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>